<ion-header>

  <ion-navbar>
      <img src="assets/imgs/logo-no-rings.png" class="header-logo" class="header-logo">
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div text-center>
        <h3 margin-top>Send To</h3>
        <img src="assets/imgs/oval-2@3x.png">
    </div>

    <ion-list [formGroup]="formGroup">
        <ion-item>
            <ion-input formControlName="to" type="text" placeholder="To" class="icon-input" (keydown)="keyHelper.onHexKeyDown($event, 40)"></ion-input>
        </ion-item>
        <div class="input-icon">0x</div>
        <ion-item>
            <ion-input formControlName="tokens" type="number" placeholder="Tokens" text-center (keydown)="keyHelper.onNumericKeyDown($event, 9)" ></ion-input>
        </ion-item>
        <div *ngIf="error" class="error center">{{error}}</div>
    </ion-list>

    <button ion-button [disabled]="!formGroup.valid || sending" (click)="send()" margin-top>
        <span *ngIf="sending; else notSendingTemplate">
            <ion-spinner name="crescent"></ion-spinner>
        </span>
        <ng-template #notSendingTemplate>
            Send
        </ng-template>
    </button>
</ion-content>
